<nav class="navbar navbar-expand-lg navbar-light wrapper-header">
    <div class="container-fluid">
        <a routerLink="home"><img class="logo" src="./../../assets/images/logo.png" alt="logo doa tech"></a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="menu-header">
                <li class="nav-item">
                    <a routerLink="home" class="ancora-navbar">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="cadastro-clientes" class="ancora-navbar">Crie sua conta</a>
                </li>
                <li class="nav-item">
                    <a routerLink="quem-somos" class="ancora-navbar">Quem somos</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.youtube.com/watch?app=desktop&v=8ZLSXAJLuAQ&feature=youtu.be#menu" target="_blank" class="ancora-navbar">Como funciona</a>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            <app-login></app-login>
        </div>

    </div>
</nav>