<!--<div *ngIf="investimentos !== undefined"> 
    <div class="container">
        <p>Aqui você visualiza seus investimentos, navega pelos resultados obtidos pelo seu título.</p>
    </div>
    <div class="box">
        <h3>{{investimentos.modalidade}}</h3>
        <p>{{investimentos.rentabilidade}}</p>
        <p>{{investimentos.valorInteiro}}</p>
        <p>{{investimentos.valorMinimo}}</p>
        <p>{{investimentos.vencimento}}</p>
    </div>
 </div> 

<div class="container" *ngIf="investimentos === undefined"> -->
<div class="container">
    <div class="sobre">
        <p><b>Quem somos?</b> </p>
        <p>Uma aplicação para doações de notebooks, tablets, computadores que realiza parcerias com ONGs as quais recondicionam o equipamento, se necessário, e encaminham para uma pessoa/família que não possuem meios para adquiri-los
        </p>

        <p><b>Nossa missão</b></p>
        <p>Promover a inclusão social e o desenvolvimento de pessoas sem acesso à tecnologia, de uma maneira sustentável.
        </p>

        <p><b>Nossa meta</b></p>
        <p>Nosso objetivo é até 2021, como ONG, é possuir diversas parcerias, uma organização e estruturação interna consolidada, ter um crescimento constante de famílias com acesso a tecnologia e assim continuar promovendo a inclusão social.
        </p>

        <p><b>Objetivo</b></p>
        <p>Nosso objetivo é até 2021, como ONG, é possuir diversas parcerias, uma organização e estruturação interna consolidada, ter um crescimento constante de famílias com acesso a tecnologia e assim continuar promovendo a inclusão social.
        </p>
    </div>
</div>
