<div class="container custom-height">
  <p>Bem vindo <strong>{{nameCliente}}</strong></p>
  <div class="row mt-5">
    <div class="col-sm" *ngFor="let mod of modalidade">
      <mat-card>
      <strong>Título:</strong> {{mod.modalidade}}<br>
      <strong>Vencimento:</strong> {{mod.vencimento}}<br>
      <strong>Rentabilidade:</strong> {{mod.rentabilidade}}<br>
      <strong>Valor mínimo:</strong> {{mod.valorMinimo}}<br>
      <strong>Valor inteiro:</strong> {{mod.valorInteiro}}<br>
      <button class="button" (click)="investment(mod.id)">Investir</button>
    </mat-card>
    </div>
  </div>
</div>
