mat-card {
    height: auto;
    background-color: #dcbc81f5;
}
h3,
h5,
p,
b {
    font-family: 'Montserrat', sans-serif;
}
.logo-investimentos {
    font-size: 90px;
    position: relative;
    left: 110px;
}
.poupanca-logo {
    font-size: 90px;
    position: relative;
    left: 110px; 
}
.custom-height {
    height: 100vh;
}
.area-logada {
    height: 15vh;
    padding: 30px;
    background: #dcbc81;
    color: #fff;
    box-shadow: 0 2px 5px -2px grey;
}
