<div id="container">
    <form name="message" action="" (ngSubmit)='chatong()' [formGroup]='formOng'>
        <aside>
            <header>
                <input type="text" placeholder="Pesquisar">
            </header>
            <ul id="lateral">
                <li>
                    <div>
                        <h2>Cliente 1</h2>
                        <h3>
                            <span class="status orange"></span> offline
                        </h3>
                    </div>
                </li>
                <li>
                    <div>
                        <h2>Cliente 2</h2>
                        <h3>
                            <span class="status green"></span> online
                        </h3>
                    </div>
                </li>
                <li>
                    <div>
                        <h2>Cliente 3</h2>
                        <h3>
                            <span class="status orange"></span> offline
                        </h3>
                    </div>
                </li>
                <li>
                    <div>
                        <h2>Cliente 4</h2>
                        <h3>
                            <span class="status green"></span> online
                        </h3>
                    </div>
                </li>
                <li>
                    <div>
                        <h2>Cliente 5</h2>
                        <h3>
                            <span class="status green"></span> online
                        </h3>
                    </div>
                </li>
            </ul>
        </aside>
        <main>
            <header>
                <div>
                    <h2>Chat - nome do cliente </h2>
                    <h3>numero de mensagens</h3>
                </div>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
            </header>
            <ul id="chat">
                <li class="you">
                    <div class="entete">
                        <span class="status green"></span>
                        <h2>Cliente</h2>
                        <h3>horario, dia da semana</h3>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                        mensagem........
                    </div>
                </li>
                <li class="me">
                    <div class="entete">
                        <h3>horario, dia da semana</h3>
                        <h2>Ong</h2>
                        <span class="status blue"></span>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                        mensagem ............
                    </div>
                </li>
                <li class="me">
                    <div class="entete">
                        <h3>horario, dia da semana</h3>
                        <h2>Ong</h2>
                        <span class="status blue"></span>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                        mensagem.....
                    </div>
                </li>
            </ul>
            <footer>
                <textarea>Digite sua mensagem</textarea>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
                <input name="submitmsg" type="submit" id="submitmsg" value="Enviar" />
            </footer>
        </main>
    </form>
</div>