.topicos {
    width: 100vw;
    height: 15vh;
    background: #4682B4;
    color: rgba(255, 255, 255, 0.6) !important;
    padding: 5px;
}

.topicos h6 {
    color: #fff;
}


.topicos li {
    list-style: none;
    line-height: 3;
}

.rodape {
    background: #191970;
    height: 5vh;
}

.rodape p {
    padding-top: 8px;
    color: #ffff;
}